@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  max-width: 100vw;
  overflow: hidden;
}

.blurry-bg {
    background-image: 
    url("./bg.png"),
      url("https://html.creativegigstf.com/vCamp/vCamp/images/assets/bg_01.png");
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);

  }
  .blurry-bg {
    background-size: cover, auto;
    background-position: start start, 0 0;
    overflow: hidden;
  }
  .content{
    max-width: calc(100% - 1rem);
  }
  @media (min-width: 768px) {
    .blurry-bg {
      background-size: cover, auto;
      background-position: center center, 0 0;
    }
  }
